<div class="main">
  <div class="centering">
    <div class="panel panel-danger" style="width: 100%; margin: auto; border-color: #FF0000;">
      <div class="panel-heading" style="text-align: center; background-color: #FF0000; color: white;"><%= @youtube.name %></div>
      <!-- Table -->

        <table class="table table-striped table-bordered table-hover">
          <tbody>
            <tr>
              <th>Rank</th><td style="text-align: left;"><%= @youtube.rank %></td>
            </tr>
            <tr>
              <th style="width: 80px;">Content</th><td style="text-align: left;"><%= @youtube.content.gsub(/\r\n|\r|\n/, "<br />").html_safe %></td>
            </tr>
          </tbody>
        </table>

    </div><!--/panel-->
    <br>
    <div style="text-align: center;">
      <%= link_to 'Edit', edit_youtube_path(@youtube), class: "btn btn-default" %>
      <%= link_to 'Back', youtubes_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
