<%= form_with(model: job_hunting, local: true) do |form| %>
  <% if job_hunting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_hunting.errors.count, "error") %> prohibited this job_hunting from being saved:</h2>

      <ul>
      <% job_hunting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank, id: :job_hunting_rank %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :job_hunting_type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_hunting_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :job_hunting_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
