<div class="main">
  <div class="centering">
    <%= form_tag job_huntings_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
    <div class="panel panel-danger" style="width: 100%; margin: auto; border-color: #4B0082;">
      <div class="panel-heading" style="text-align: center; background-color: #4B0082; color: white;">Job Hunting List</div>
      <!-- Table -->
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="text-align: center;">Rank</th>
              <th style="text-align: center;">Type</th>
              <th style="text-align: center;">Name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @job_huntings.each do |job_hunting| %>
              <tr>
                <td><%= job_hunting.rank %></td>
                <td><%= job_hunting.type %></td>
                <td><%= job_hunting.name %></td>
                <td><%= link_to 'Show', job_hunting, class: "btn btn-primary btn-xs" %></td>
                <td><%= link_to 'Edit', edit_job_hunting_path(job_hunting), class: "btn btn-success btn-xs" %></td>
                <td><%= link_to 'Destroy', job_hunting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!--/panel-->
    <br>
    <div style="text-align: center;">
      <%= link_to 'New Job Hunting', new_job_hunting_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
