<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @to_do.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @to_do.content %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @to_do.deadline %>
</p>

<%= link_to 'Edit', edit_to_do_path(@to_do) %> |
<%= link_to 'Back', to_dos_path %>
