<p id="notice"><%= notice %></p>

<h1>Programmings</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programmings.each do |programming| %>
      <tr>
        <td><%= programming.rank %></td>
        <td><%= programming.name %></td>
        <td><%= programming.content %></td>
        <td><%= link_to 'Show', programming %></td>
        <td><%= link_to 'Edit', edit_programming_path(programming) %></td>
        <td><%= link_to 'Destroy', programming, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programming', new_programming_path %>
